

/*Style global*/
* { 
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.flux {
    margin-left: 75px;
    margin-right: 75PX;
}    

@media (max-width: 500px) {
    .flux {
         margin-left: 5px;
         margin-right: 5px;
    }
}

.title-2 {
     font-size: 40px;
    margin-bottom: 20px; 
}

.button {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    background-color:black;
}

/*Reset*/

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

/* Start : css Header */

.logo {
    width: 125px;
    height: 25px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.liste-menu {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.lien-nav {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.fleche-icon {
    margin-top: 50px;
}


.bouton {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 500;
}



/* Start: css cover*/

.cover {
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    .cover {
        flex-direction:column;
    }
}

.image-office {
    width: 55%;
    flex-shrink: 0; 
    height: 250px;
    object-fit: cover;
    object-position: bottom;
}

.fleche-icon {
    background-color: black;
    width:50px;
    height:50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.cover-text {
    padding-right: 100px;
}

.cover-title {
    font-size: 50px;
    margin-bottom: 20px;
}

.cover-introduction {
    margin-bottom: 3Opx;
}

/*Start: css Programmes*/

.programmes {
    background-color: #202020;
    margin-top: 75px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.programmes .flux {
    display: flex;
    gap: 50px;
}

.programmes .container-texts {
    color: white;
    line-height: 1,5;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.programmes .title-2 {
    width: 75%;
    line-height: 1,75;
}

.programmes p {
    line-height: 24px;
}

.programmes .container-texts .button {
    margin-top: 20px;
}

.programmes .container-texts p {
    flex-grow: 1;
}

.programmes .container-images {
    background-color: green;
}