
/*Importation police specifique*/

@import url(https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);


/*Fin des impor*/

/*Style global*/
* { 
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

body {
    background-color: rgb(245, 245, 236) ;
}

.flux {
    margin-left: 85px;
    margin-right: 85PX;
}    

@media (max-width: 768px) {
    .flux {
            margin-left: 5px;
            margin-right: 5px;
    }
}

.title-2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: Barlow Condensed, sans-serif;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    color:black;
    border-radius: 20px;
    padding: 10px 20px;
}

.button-white {
    background-color: white;
    transition:background-color 0.25s;
}

.button-white:hover {
    background-color: gray;
}

/*Reset*/

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Start : css Header */

.logo {
    margin-left: 90px;
    width: 125px;
    height: 25px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.liste-menu {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.lien-nav {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 768px) {
    .liste-menu {
        display: none;
    }
    .bouton {
        display: none;
    }
}

.menu-burger {
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-burger span {
    background:black;
    height: 3px;
    width: 100%;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .menu-burger {
        display: none;
    }
    
}

.lien-nav:hover {
    text-decoration: underline;
}

.fleche-icon {
    margin-top: 50px;
}


.bouton {
    background-color:black;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 500;
}

.selection-langue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem 1rem;
    cursor: pointer;
}


/* Start: css cover*/

.cover {
    margin-top: 150px;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .cover {
        flex-direction:column;
    }
    .image-office {
        display: none;
    }
}


.image-office {
    width: 40%;
    margin-right: 50px;
}


.fleche-icon {
    background-color: black;
    width:50px;
    height:50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.cover-text {
    padding-right: 100px;
    margin-left: 80px;
}

.cover-title {
    width: 70%;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 70px;
    margin-bottom: 20px;
    font-family: Barlow Condensed, sans-serif;
}

.cover-introduction {
    margin-top: 50px;
    margin-bottom: 3Opx;
    line-height: 24px;
    color: rgb(117, 114, 114);
    font-size: x-large;
}

.background-degrade {
    background-image: conic-gradient(from -47deg at 48.86% 48.52%, #86efac 0deg, #fed7aa 50.625deg, #f1ece9 107.91542887687683deg, #f472b6 156.2752068042755deg, #a78bfa 252.34398365020752deg, #f1ece9 282.4831509590149deg, #86efac);
    display: block;
    width: 60%;
    height: 70%;
    position: absolute;
    z-index: -1;
    margin-left: 50%;
    margin-top: 100px;
    margin-bottom:60px;
    filter: blur(24px);
}

/*Start: css Programmes*/

.programmes {
    background-color: #131212;
    margin-top: 150px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.programmes .flux {
    display: flex;
    gap: 50px;
}

.programmes .container-texts {
    color: white;
    line-height: 1,5;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.programmes .title-2 {
    width: 50%;
    line-height: 1,75;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 70px;
    font-family: Barlow Condensed, sans-serif;
    
}

.programmes p {
    line-height: 32px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 70px;
}

.programmes .container-texts .button {
    margin-top: 40px;
    margin-left: 75px;
    
}

.programmes .container-texts p {
    flex-grow: 1;
}

.programmes .container-images {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.programmes .container-images li {
    background-color: white;
    border-radius: 10px;
    width: calc(40% - 25px /2);
    height: 130px;
    padding: 25px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container-images li {
            display: none;
    }
}

.programmes .container-images li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*Star style landing zone*/

.landingzone {
    background: linear-gradient(180deg, #131212 0% 50%, white 50% 10%)
}    

.landingzone .landingzone-contenus {
    background-color:rgb(100, 99, 99);
    border-radius: 10px;
    display: flex;
    padding: 75px 50px 50px;
}

.landingzone img {
    width: 40%;
    padding-right: 50px;
}

.landingzone .text-landingzone {
    width:60%;
    color: white;
    line-height: 1,5;
}    

.landingzone .bouton-landingzone {
    margin-top: 120px;
    margin-left: 80px;
    font-weight: 500;
}

.landingzone .text-landingzone h2 {
    margin-left: 80px;
    line-height: 1,75;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 50px;
    font-family: Barlow Condensed, sans-serif;
}

.landingzone .text-landingzone p {
    margin-top: 50px;
    margin-left: 80px;
    line-height: 32px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .image-LD{
            display: none;
    }
}


/*End style landing zone*/

